<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/Gesture-Controlled-Car/assets/css/lcars.css">
</head>

<body class="lcars-body">

  <div class="lcars-frame">
    <div class="lcars-left-rail">
      <div class="lcars-segment top"></div>
      <div class="lcars-segment mid"></div>
      <div class="lcars-segment bottom"></div>
    </div>

    <div class="lcars-header">
      <span class="lcars-title">{{ page.title }}</span>
    </div>

    <div class="lcars-content">
      {{ content }}
    </div>
  </div>

</body>
</html>

